# See http://help.github.com/ignore-files/ for more about ignoring files.

# Local user-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio cache/options directory
.vs/

# Visual Studio Code
.vscode/

# Rider
.idea/
*.sln.iml

# Local database files
*.mdf
*.ldf
*.ndf

# NuGet Packages
*.nupkg
*.snupkg
*.nuget.props
*.nuget.targets

# dotnet
project.lock.json
project.fragments.lock.json
artifacts/

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db
